{% extends 'base.html' %}

{% block title %}Регистрация - ЗдравТочка{% endblock %}

{% block content %}
<div class="container" style="max-width: 600px; margin: 40px auto;">
    <div class="card">
        <h2>Регистрация пользователя</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Создать пользователя</button>
        </form>
        <p style="margin-top: 20px;">
            Уже зарегистрированы?
            <a href="{% url 'users:login' %}"><i>Войти</i></a>
        </p>
    </div>
</div>
{% endblock %}