<footer>
    <div class="container">
        <div style="display: grid; grid-template-columns: repeat(4,1fr); gap: 40px; margin-bottom: 40px;padding: 0px 120px;">
            <div>
                <h4>Клиники</h4>
                <ul style="list-style: none; margin-top: 12px;">
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Врачи</a></li>
                </ul>
            </div>
            <div>
                <h4>Программы</h4>
                <ul><li><a href="#">Программа лояльности</a></li><li><a href="#">Закупки</a></li></ul>
            </div>
            <div>
                <h4>Контакты</h4>
                <p>Контактный центр: +7 (495) 489-64-37</p>
                <p>Экстренная госпитализация: +7 (495) 151-22-67</p>
            </div>
        </div>
        <div style="text-align: center; border-top: 1px solid #ccc; padding-top: 24px; font-size: 13px;">
            <p>© 1999-2026 АO «ЗдравТочка»</p>
            <p><a href="#">Оплата услуг</a> | <a href="#">Политика конфиденциальности</a> | <a href="#">Версия для слабовидящих</a></p>
        </div>
    </div>
</footer>